* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #131921;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
}

.hover-border {
    border: 1px solid #131921;
}

.hover-border:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* logo section */
.logo img {
    height: 40px;
    /*width: 130px;*/
    padding: 5px 8px 0 6px;
    margin: 1px;
}

/* location bar */
.nav-address {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px;
}

.nav-address .location-icon {
    padding-top: 10px;
    font-size: 20px;

}

.nav-address .location-details .deliver {
    font-size: 0.85rem;
}

.nav-address .location-details .location {
    font-weight: 700;
}

.nav-address .location-details {
    padding-left: 5px;
}

/* search bar */


.search-bar {
    display: flex;
    width: 45%;
}

.search-bar .options {
    width: 50px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
}

.search-bar .text {
    width: 90%;
    padding: 5px 4px;
    outline: none;
}

.search-bar .icon {
    width: 45px;
    height: 40px;
    background-color: #FEBD69;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar:hover {
    border: 2px solid #FEBD69;
    border-radius: 6px;
}

/* user options */
.user-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options .option {
    margin-right: 20px;
    height: 50px;
    padding: 5px
}

/* language section*/
.language {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language i, text {
    padding: 5px;
}

/* accounts and sign in */

.accounts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accounts .sign-in {
    font-size: 0.75rem;
}

.accounts .list {
    font-weight: 700;
    font-size: 0.87rem;
}

/* returns and orders */
.returns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.returns .returns-title {
    font-size: 0.75rem;
}

.returns .orders-title {
    font-size: 0.87rem;
    font-weight: 700;
}

/* cart section */
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart i {
    font-size: 26px;
}

.cart p {
    font-weight: 700;
    font-size: 0.87rem;
}

/* feature nav bar */
.features-nav-bar {
    height: 40px;
    background-color: #222F3E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
    font-size: 0.87rem;
}

.features-nav-bar .left-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features-nav-bar .left-panel i  {
    font-size: 18px;
    margin-right: 5px;
}

.features-nav-bar .left-panel p {
    font-weight: 700;
}

.features-nav-bar-border {
    border: 1px solid #222F3E;
    height:35px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.features-nav-bar-border:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* main image section */
.header-image {
    background-image: url("./assets/main-background.jpg");
    background-size: cover;
    height: 400px;
}

/* cards section */

.feature-cards-section {
    background-color: #E3E6E6;
    padding-top: 20px;
}

.feature-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
}

.feature-cards .outer-card {
    width: 342px;
    height:420px;
    background-color: white;
    padding: 20px 0 15px;
}

.feature-cards .outer-card .inner-card h2 {
    padding: 0 20px;
    font-size: 1.31rem;
    margin: 0 0 10px;
}

.card-images {
    display: flex;
    width: 342px;
    flex-wrap: wrap;
    font-size: 0.75rem;
    /*justify-content: space-between;*/
    gap: 40px 12px;
    padding: 0 20px;
}

.card-images div img {
    height: 102px;
    width :144px;
}

.card-images div p {
    margin-top: 4px;
    width: 144px;
}

.inner-card .card-link {
    color: #007185;
    font-size: 0.82rem;
    padding: 0 20px;
    margin-top:24px;
}