* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.nav-bar {
    background-color: #131921;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 16px;
}

.hover-border {
    border: 1px solid #131921;
}

.hover-border:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* logo section */
.logo img {
    height: 40px;
    /*width: 130px;*/
    padding: 5px 8px 0 6px;
    margin: 1px;
}

/* location bar */
.nav-address {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 5px;
}

.nav-address .location-icon {
    padding-top: 10px;
    font-size: 20px;

}

.nav-address .location-details .deliver {
    font-size: 0.85rem;
}

.nav-address .location-details .location {
    font-weight: 700;
}

.nav-address .location-details {
    padding-left: 5px;
}

/* search bar */


.search-bar {
    display: flex;
    width: 45%;
}

.search-bar .options {
    width: 50px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 5px;
}

.search-bar .text {
    width: 90%;
    padding: 5px 4px;
    outline: none;
}

.search-bar .icon {
    width: 45px;
    height: 40px;
    background-color: #FEBD69;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar:hover {
    border: 2px solid #FEBD69;
    border-radius: 6px;
}

/* user options */
.user-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-options .option {
    margin-right: 20px;
    height: 50px;
    padding: 5px
}

/* language section*/
.language {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language i, text {
    padding: 5px;
}

/* accounts and sign in */

.accounts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accounts .sign-in {
    font-size: 0.75rem;
}

.accounts .list {
    font-weight: 700;
    font-size: 0.87rem;
}

/* returns and orders */
.returns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.returns .returns-title {
    font-size: 0.75rem;
}

.returns .orders-title {
    font-size: 0.87rem;
    font-weight: 700;
}

/* cart section */
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart i {
    font-size: 26px;
}

.cart p {
    font-weight: 700;
    font-size: 0.87rem;
}

/* feature nav bar */
.features-nav-bar {
    height: 40px;
    background-color: #222F3E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:white;
    font-size: 0.87rem;
}

.features-nav-bar .left-panel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.features-nav-bar .left-panel i  {
    font-size: 18px;
    margin-right: 5px;
}

.features-nav-bar .left-panel p {
    font-weight: 700;
}

.features-nav-bar-border {
    border: 1px solid #222F3E;
    height:35px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.features-nav-bar-border:hover {
    border: 1px solid white;
    cursor: pointer;
}

/* main image section */
.header-image {
    background-image: url("./assets/main-background.jpg");
    background-size: cover;
    height: 400px;
}

/* cards section */
.features-section {
    background-color: #E3E6E6;
}
.feature-cards-section {
    padding-top: 20px;
}

.feature-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
}

.feature-cards .outer-card {
    width: 342px;
    height:420px;
    background-color: white;
    padding: 20px 0 15px;
}

.feature-cards .outer-card .inner-card h2 {
    padding: 0 20px;
    font-size: 1.31rem;
    margin: 0 0 10px;
}

.card-images {
    display: flex;
    width: 342px;
    flex-wrap: wrap;
    font-size: 0.75rem;
    /*justify-content: space-between;*/
    gap: 40px 12px;
    padding: 0 20px;
}

.card-images div img {
    height: 102px;
    width :144px;
}

.card-images div p {
    margin-top: 4px;
    width: 144px;
}

.inner-card .card-link {
    color: #007185;
    font-size: 0.82rem;
    padding: 0 20px;
    margin-top:10px;
    cursor: pointer;
}

.inner-card .card-link:hover {
    color: #cf5d06;
}

/* carousel section */

.feature-carousel {
    height:285px;
    width: 97.5%;
    background-color: white;
    margin: 4% 1.5% 0;
    padding: 10px 20px;
    position: relative;
}

.feature-carousel div {
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    overflow: scroll;
}

.feature-carousel div img {
    height:200px;
    width: 200px;
}

.feature-carousel h2 {
    font-size: 1.32rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.scroll-btn {
    font-size: 35px;
    background-color: white;
    height: 100px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
}

.scroll-right-btn {
    right: 20px;;
}

.scroll-btn:hover {
    border: 2px solid #007185;
}

/* sign in section */
.horizontal-divider {
    height:5px;
    border-top: 1px solid gray;
    margin: 20px 20px;
}

.sign-in-section {
    height: 90px;
}

.sign-in-section h2 {
    font-size: 1.5rem;
    text-align: center;
}

.sign-in-btn {
    width: 230px;
    height: 28px;
    border: 1px solid #ECB02F;
    border-radius: 4px;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background: linear-gradient(to bottom,#FFD674,#FEC83C );
    cursor: pointer;
    position: relative;
    left: 43%;
    margin: 10px;
}

.sign-in-section p {
    font-size: 0.68rem;
    margin: 5px 0;
    text-align: center;
}

.sign-in-section p .start-here {
    color: #017185;
    cursor: pointer;
}

.sign-in-section p .start-here:hover {
    color: #cf5d06;
}

.top-scroll {
    height: 49px;
    color: white;
    background-color: #364759;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.82rem;
}

.top-scroll:hover {
    opacity: 90%;
}

/*footer section*/
.contact-section {
    background-color: #222F3E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

.link-sections-container {
    display: flex;
    height: 294px;
    column-gap: 60px;
}

.link-section {
    width: 200px;
}

.link-sections-container .link-section p {
    color: white;
    margin: 0 0 10px;
    font-size: 0.87rem;
    cursor: pointer;
}

.link-sections-container .link-section p:hover {
    text-decoration: underline;
}

.link-sections-container .link-section .link-header {
    font-size: 1rem;
    font-weight: 700;
    margin: 6px 0 14px;
    text-decoration: none;
    cursor: default;
}

.link-sections-container .link-section .link-header:hover {
    text-decoration: none;
}

.amazon-footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
    background-color: #222F3E;
}

.amazon-footer-section .main-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
}

.amazon-footer-section .main-section div img {
    width: 76px;
    height: 22px;
}

.footer-divider {
    height:1px;
    border: 1px solid gray;
}

.amazon-footer-section .main-section .button-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
}
.amazon-footer-section .main-section  .button {
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    height: 33px;
    cursor: pointer;
    color:white;
}

/* amazon services */
.amazon-services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131A22;
    color:white;
    height: 200px;
}

.amazon-services .service-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    margin: 100px 0;
    width: 700px;
    flex-wrap: wrap;
}

.amazon-services .service-cards .card {
    width: 130px;
    font-size: 0.75rem;
    margin-bottom: 14px;
    cursor: pointer;
}

.amazon-services .service-cards .card:hover {
    text-decoration: underline;
}

.amazon-services .service-cards .card .header {
    font-weight: 700;
    margin-bottom: 4px;
}

.footer-copyright {
    text-align: center;
    background-color: #131A22;
    color:white;
    height: 50px;
    font-size: 0.75rem;
    cursor: pointer;
}

.footer-copyright p {
    margin-bottom: 8px;
}